
.header:after {
	@extend .clearfix;
}


.header {
	position: absolute;
	top:0;
	left: 0; 
	width: 100% ;
	@include MOBILE() {
		.header {
			&__logo {
				background-color: rgba(249,249,248,.1);
				width: 70%;
			}

			&__info-block {
				width: 100%;
				position: fixed;
				bottom: 0;
				background-color: #fff;
			}
		}


		.phone {
			display: inline-block;
			margin-right: 0;
		}

		.language-selector-line {
			height: 20px;
			margin: 0;
			padding: 0;
			margin-left: 23px;
			margin-bottom: 15px;
		}
		.language-selector {
			float:right;
		}
		.hamburger {
			display:inline-block;
		}
	}
}

.header__logo {
	float: left;
	width: 245px*100%/$W-CONTENT-PAGE;
	padding: 51px*100%/$W-CONTENT-PAGE;
}

.header__info-block {
	float: right;
	padding-top: 50px*100%/$W-CONTENT-PAGE;
}

.phone {
	@extend .NUMBER ;
	float: left;
	margin-right: 31px;
}

.language-selector-line {

	//@extend .RU ;
	display:inline-block;
	
	height: 38px;
	//text-transform: uppercase;
	float: left;
	margin-top: -4px;
	padding: 8px 14px 8px 32px;
	margin-right: 5px;
	border-left: 2px solid #dcd9da;
	border-left: 1px solid #c7c0c3;

	/*&:after{
		content: "";
		display: inline-block;
		width: 6px;
		height: 6px;
		margin: 0 10px;
		margin-bottom: 3px;
		border-right:2px solid #dcd9da;
		border-bottom: 2px solid #dcd9da;
		transform: rotate(45deg);
	}
	&:hover {
		background-color: #fff;
		&:after {
			transform:rotate(225deg);
			margin-bottom: 0px;
			transition: 0.5s;
		}
	}*/
}
.language-selector {
  list-style: none;
  position: relative;
  display: inline-block;
  float: left;
  margin-left: -30px;
  padding-right: 20px;
}
.language-selector__selected-text {
	@extend .RU;
	text-decoration: none;
}

.language-selector__selected {
 //float: left;
  
  color: $RU-SELECT-COLOR;
  //border: 2px solid red;
  border-radius: 5px;
  width: 60px;
  //transition: .5s;
  text-align: center;
  text-transform: uppercase;
  &:hover {
  	background-color: white;
  }

  &-text {
  	    	&:after{
		content: "";
		display: inline-block;
		width: 6px;
		height: 6px;
		margin: 0 10px;
		margin-bottom: 3px;
		border-right:2px solid $RU-SELECT-COLOR;
		border-bottom: 2px solid $RU-SELECT-COLOR;
		transform: rotate(45deg);
	}
  }
  
  &-text:hover {
    //border-bottom: 5px solid red;  
    background-color: #fff;
    color: $RU-SELECT-COLOR;

	&:hover {
		background-color: #fff;
		&:after {
			transform:rotate(225deg);
			margin-bottom: 0px;
			transition: 0.5s;
		}
	}
    //position: absolute;
  }
  &-text {
  	color:$ACTIVE-BUTTON;
  	//margin-left:15px;
  }
}

.language-selector__item {
  
  list-style: none;
}

.language-selector__items {
  display: none;
}

.language-selector__selected:hover .language-selector__items {
  display: block;
}

.language-selector.language-selector__items {
  position: absolute;
  border-top: 15px solid transparent;
  //left: -1000px;
}

.language-selector__item {
  float:none;
  margin-top: 10px;
}

.language-selector__item-text {
  height: 25px;
  margin-left: -55px;
  text-decoration: none;
  color:$ACTIVE-BUTTON;
  @extend .RU;
  &:hover {
  	color: $RU-SELECT-COLOR;
  }
  //padding-right: 0px;
}

.language-selector__item-text {
  width: auto;
  display: inline-block;
  padding : 0px 10px 0 0;
 // margin: 45px 0 0 25px;
  text-transform: uppercase;
}

.lang__items_text {
  text-transform: uppercase;
}	



