@charset "UTF-8";
/**
 * заголовок контента
 */
.CONTENT-TITLE, .page__title {
  font-family: "FuturaNewLight-Reg"; }
  @media screen and (max-width: 767px) {
    .CONTENT-TITLE, .page__title {
      font-size: 36px;
      line-height: 36px; } }
  @media screen and (min-width: 768px) and (max-width: 1599px) {
    .CONTENT-TITLE, .page__title {
      font-size: 36px;
      line-height: 40.5px; } }
  @media screen and (min-width: 1600px) {
    .CONTENT-TITLE, .page__title {
      font-size: 38.1pt;
      line-height: 61pt; } }

/**
 * текст контента
 */
.CONTENT-TEXT, .page__text {
  font-family: "FuturaNewLight-Reg"; }
  @media screen and (max-width: 767px) {
    .CONTENT-TEXT, .page__text {
      font-size: 14px;
      line-height: 20.25px; } }
  @media screen and (min-width: 768px) and (max-width: 1599px) {
    .CONTENT-TEXT, .page__text {
      font-size: 14px;
      line-height: 20.25px; } }
  @media screen and (min-width: 1600px) {
    .CONTENT-TEXT, .page__text {
      font-size: 14pt;
      line-height: 20.55pt; } }

/**
 * номер
 */
.NUMBER, .phone {
  font-family: "FuturaNewLight-Reg"; }
  @media screen and (max-width: 767px) {
    .NUMBER, .phone {
      font-size: 24px;
      line-height: 20.25px; } }
  @media screen and (min-width: 768px) and (max-width: 1599px) {
    .NUMBER, .phone {
      font-size: 24px;
      line-height: 20.25px; } }
  @media screen and (min-width: 1600px) {
    .NUMBER, .phone {
      font-size: 24pt;
      line-height: 27pt; } }

/**
 * элементы меню
 */
.MENU-ITEMS, .menu__item a {
  font-family: "FuturaNewBook-Reg"; }
  @media screen and (max-width: 767px) {
    .MENU-ITEMS, .menu__item a {
      font-size: 15.75px;
      line-height: 18px; } }
  @media screen and (min-width: 768px) and (max-width: 1599px) {
    .MENU-ITEMS, .menu__item a {
      font-size: 15.75px;
      line-height: 18px; } }
  @media screen and (min-width: 1600px) {
    .MENU-ITEMS, .menu__item a {
      font-size: 16pt;
      line-height: 20pt; } }

/**
 * активный элемент меню
 */
.MENU-ACTIVE-ITEM, .menu__item_active a {
  font-family: "FuturaNewDemi-Reg"; }
  @media screen and (min-width: 1600px) {
    .MENU-ACTIVE-ITEM, .menu__item_active a {
      font-size: 16pt;
      line-height: 19pt; } }

/**
 * Кнопки
 */
.BUTTONS-F, .buttons {
  font-family: "FuturaNewLight-Reg"; }
  @media screen and (max-width: 767px) {
    .BUTTONS-F, .buttons {
      font-size: 10.5px;
      line-height: 13.5px; } }
  @media screen and (min-width: 768px) and (max-width: 1599px) {
    .BUTTONS-F, .buttons {
      font-size: 10.5px;
      line-height: 13.5px; } }
  @media screen and (min-width: 1600px) {
    .BUTTONS-F, .buttons {
      font-size: 11.5pt;
      line-height: 18pt; } }

/**
 * Текст скачать пдф
 */
.DOWNLOAD-PDF, .link {
  font-family: "FuturaNewLight-Reg"; }
  @media screen and (max-width: 767px) {
    .DOWNLOAD-PDF, .link {
      font-size: 10.5px;
      line-height: 20.25px; } }
  @media screen and (min-width: 768px) and (max-width: 1599px) {
    .DOWNLOAD-PDF, .link {
      font-size: 10.5px;
      line-height: 20.25px; } }
  @media screen and (min-width: 1600px) {
    .DOWNLOAD-PDF, .link {
      font-size: 14pt;
      line-height: 27pt; } }

/**
 * ru
 */
.RU, .language-selector__selected-text, .language-selector__item-text {
  font-family: "FuturaNewBook-Reg"; }
  @media screen and (max-width: 767px) {
    .RU, .language-selector__selected-text, .language-selector__item-text {
      font-size: 12px;
      line-height: 13.5px; } }
  @media screen and (min-width: 768px) and (max-width: 1599px) {
    .RU, .language-selector__selected-text, .language-selector__item-text {
      font-size: 12px;
      line-height: 13.5px; } }
  @media screen and (min-width: 1600px) {
    .RU, .language-selector__selected-text, .language-selector__item-text {
      font-size: 11pt;
      line-height: 18pt; } }

/**
 * Копирайт
 */
.COPYRIGHT {
  font-family: "FuturaNewLight-Reg"; }
  @media screen and (max-width: 767px) {
    .COPYRIGHT {
      font-size: 9px;
      line-height: 20.25px; } }
  @media screen and (min-width: 768px) and (max-width: 1599px) {
    .COPYRIGHT {
      font-size: 9px;
      line-height: 20.25px; } }
  @media screen and (min-width: 1600px) {
    .COPYRIGHT {
      font-size: 12pt;
      line-height: 27pt; } }

/**
 * написание Меню
 */
.MENU {
  font-family: "FuturaNewBook-Reg"; }
  @media screen and (min-width: 768px) and (max-width: 1599px) {
    .MENU {
      font-size: 12px;
      line-height: 13.5px; } }

/* This stylesheet generated by Transfonter (https://transfonter.org) on August 18, 2017 12:29 PM */
@font-face {
  font-family: 'FuturaNewBook-Reg';
  src: url("../fonts/FuturaNewBook-Reg.eot");
  src: url("../fonts/FuturaNewBook-Reg.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewBook-Reg.woff2") format("woff2"), url("../fonts/FuturaNewBook-Reg.woff") format("woff"), url("../fonts/FuturaNewBook-Reg.ttf") format("truetype"), url("../fonts/FuturaNewBook-Reg.svg#FuturaNewBook-Reg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FuturaNewDemi-Reg';
  src: url("../fonts/FuturaNewDemi-Reg.eot");
  src: url("../fonts/FuturaNewDemi-Reg.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewDemi-Reg.woff2") format("woff2"), url("../fonts/FuturaNewDemi-Reg.woff") format("woff"), url("../fonts/FuturaNewDemi-Reg.ttf") format("truetype"), url("../fonts/FuturaNewDemi-Reg.svg#FuturaNewDemi-Reg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FuturaNewLight-Reg';
  src: url("../fonts/FuturaNewLight-Reg.eot");
  src: url("../fonts/FuturaNewLight-Reg.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewLight-Reg.woff2") format("woff2"), url("../fonts/FuturaNewLight-Reg.woff") format("woff"), url("../fonts/FuturaNewLight-Reg.ttf") format("truetype"), url("../fonts/FuturaNewLight-Reg.svg#FuturaNewLight-Reg") format("svg");
  font-weight: 300;
  font-style: normal; }

body {
  margin: 0;
  padding: 25px;
  min-height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media screen and (max-width: 767px) {
    body {
      padding: 10px; } }

div {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }

.clearfix, .header:after {
  content: '';
  display: table;
  width: 100%;
  clear: both; }

.page {
  width: calc(100% - 270px);
  background-color: #f9f9f8;
  text-align: center; }
  .page:before {
    height: 0; }
  .page:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0; }
  @media screen and (max-width: 767px) {
    .page {
      width: 100%; }
      .page_close {
        display: none; }
      .page .page__img {
        width: 100%;
        background-size: 90%;
        top: 0;
        background-position: -4px 0px;
        height: 100%;
        position: absolute;
        opacity: .6; }
      .page .page__content {
        width: 90%;
        margin: 115% auto 20% auto;
        left: 0; }
      .page .page__title {
        margin-bottom: 7%; }
      .page .page__text_left {
        float: none;
        display: block;
        margin: 0;
        padding: 0;
        width: 100%; }
      .page .page__text_right {
        float: none;
        display: block;
        margin-top: 20px;
        margin-left: 0;
        width: 100%;
        padding: 0; } }
  .page__img {
    background: url("../img/firs-bg.png");
    background-repeat: no-repeat;
    background-position: -15px;
    background-size: auto;
    width: 410px;
    height: 480px;
    position: absolute;
    top: 25%;
    left: 0;
    vertical-align: middle;
    display: inline-block; }
  .page__title {
    margin-top: 0.14286%;
    margin-bottom: 2.71429%; }
  .page__content {
    width: 63.49206%;
    text-align: left;
    left: 15%;
    display: inline-block;
    vertical-align: middle; }
  .page__text {
    margin-top: 5px; }
  .page__text_left {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 40%; }
  .page__text_right {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-left: 40px;
    width: 40%; }
  .page__text_link {
    color: #6d5b66; }
    .page__text_link:after {
      content: '\2192';
      display: inline-block;
      margin-left: 5px;
      text-decoration: none; }

.menu {
  background-color: #f9f9f8;
  height: 100%;
  position: absolute;
  width: 275px;
  top: 0;
  right: 0; }
  @media screen and (max-width: 767px) {
    .menu {
      display: none;
      width: 100%;
      position: relative; }
      .menu_opened {
        display: block; }
      .menu .menu__top {
        background-color: inherit;
        width: 100%;
        top: 1vh; }
      .menu .menu__items {
        width: 90%;
        margin: 0 auto;
        padding: 0; }
      .menu .menu__item {
        display: block;
        border: none; }
        .menu .menu__item a {
          width: 100%;
          display: block;
          padding-top: 4vh;
          font-size: 110%; }
        .menu .menu__item:nth-child(7) {
          margin-top: -20px; }
      .menu .menu__item_active a {
        width: 78%; }
      .menu .menu__item_delimeter {
        position: relative;
        top: -10px; }
      .menu .menu__bottom {
        bottom: -75px;
        float: none;
        width: 90%;
        padding-left: 0;
        padding-top: 0;
        margin: 0 auto;
        height: 0; }
      .menu .link {
        padding-bottom: 0;
        width: 35%;
        position: absolute;
        left: 0; }
      .menu .copyright {
        width: 35%;
        position: absolute;
        right: 0; } }
  .menu__top {
    background-color: #f2f1f1;
    position: relative;
    height: calc(100% - 135px);
    top: 0px;
    width: 275px; }
  .menu__items {
    width: 230px;
    margin: 0px 0px 0px 45px;
    padding: 4vh 0 3vh 0;
    display: table; }
  .menu__item {
    display: table-row;
    width: 100%;
    border: 1px solid black;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .menu__item a {
      text-decoration: none;
      text-align: left;
      color: #4c3440;
      width: 80%;
      display: table-cell;
      vertical-align: middle;
      padding-top: 1.6vh; }
      .menu__item a:hover {
        color: rgba(76, 52, 64, 0.6);
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
    .menu__item:nth-child(7) a {
      padding-top: 4.5vh; }
  .menu__item_delimeter {
    width: 0; }
    .menu__item_delimeter:before {
      border-bottom: 1px solid rgba(76, 52, 64, 0.3);
      display: block;
      content: '';
      width: 60px;
      height: 50px; }
  .menu__item_active a {
    color: rgba(76, 52, 64, 0.4);
    position: relative;
    display: inline; }
    .menu__item_active a:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      border-bottom: 10px solid rgba(76, 52, 64, 0.17); }
  .menu__bottom {
    position: relative;
    background-color: #f9f9f8;
    bottom: 0px;
    float: left;
    width: 275px;
    padding-left: 50px;
    padding-top: 40px;
    height: 13.5%; }

.link_pdf {
  position: absolute;
  margin-left: -50px;
  width: 40px;
  height: 32px; }

.link {
  font-size: 90%;
  color: #000;
  -webkit-text-decoration-style: dotted;
  text-decoration-style: dotted;
  -webkit-text-decoration-color: rgba(0, 0, 0, 0.4);
  text-decoration-color: rgba(0, 0, 0, 0.4);
  margin-left: 50px;
  padding-bottom: 5px; }
  .link:hover {
    text-decoration: none;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.copyright {
  font-size: 80%;
  padding: 0; }

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }
  @media screen and (max-width: 767px) {
    .header .header__logo {
      background-color: rgba(249, 249, 248, 0.1);
      width: 70%; }
    .header .header__info-block {
      width: 100%;
      position: fixed;
      bottom: 0;
      background-color: #fff; }
    .header .phone {
      display: inline-block;
      margin-right: 0; }
    .header .language-selector-line {
      height: 20px;
      margin: 0;
      padding: 0;
      margin-left: 23px;
      margin-bottom: 15px; }
    .header .language-selector {
      float: right; }
    .header .hamburger {
      display: inline-block; } }

.header__logo {
  float: left;
  width: 19.44444%;
  padding: 4.04762%; }

.header__info-block {
  float: right;
  padding-top: 3.96825%; }

.phone {
  float: left;
  margin-right: 31px; }

.language-selector-line {
  display: inline-block;
  height: 38px;
  float: left;
  margin-top: -4px;
  padding: 8px 14px 8px 32px;
  margin-right: 5px;
  border-left: 2px solid #dcd9da;
  border-left: 1px solid #c7c0c3;
  /*&:after{
		content: "";
		display: inline-block;
		width: 6px;
		height: 6px;
		margin: 0 10px;
		margin-bottom: 3px;
		border-right:2px solid #dcd9da;
		border-bottom: 2px solid #dcd9da;
		transform: rotate(45deg);
	}
	&:hover {
		background-color: #fff;
		&:after {
			transform:rotate(225deg);
			margin-bottom: 0px;
			transition: 0.5s;
		}
	}*/ }

.language-selector {
  list-style: none;
  position: relative;
  display: inline-block;
  float: left;
  margin-left: -30px;
  padding-right: 20px; }

.language-selector__selected-text {
  text-decoration: none; }

.language-selector__selected {
  color: #dcd9da;
  border-radius: 5px;
  width: 60px;
  text-align: center;
  text-transform: uppercase; }
  .language-selector__selected:hover {
    background-color: white; }
  .language-selector__selected-text:after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 10px;
    margin-bottom: 3px;
    border-right: 2px solid #dcd9da;
    border-bottom: 2px solid #dcd9da;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }
  .language-selector__selected-text:hover {
    background-color: #fff;
    color: #dcd9da; }
    .language-selector__selected-text:hover:hover {
      background-color: #fff; }
      .language-selector__selected-text:hover:hover:after {
        -webkit-transform: rotate(225deg);
        -ms-transform: rotate(225deg);
        transform: rotate(225deg);
        margin-bottom: 0px;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
  .language-selector__selected-text {
    color: #6d5b66; }

.language-selector__item {
  list-style: none; }

.language-selector__items {
  display: none; }

.language-selector__selected:hover .language-selector__items {
  display: block; }

.language-selector.language-selector__items {
  position: absolute;
  border-top: 15px solid transparent; }

.language-selector__item {
  float: none;
  margin-top: 10px; }

.language-selector__item-text {
  height: 25px;
  margin-left: -55px;
  text-decoration: none;
  color: #6d5b66; }
  .language-selector__item-text:hover {
    color: #dcd9da; }

.language-selector__item-text {
  width: auto;
  display: inline-block;
  padding: 0px 10px 0 0;
  text-transform: uppercase; }

.lang__items_text {
  text-transform: uppercase; }

.buttons {
  position: -webkit-sticky;
  position: sticky;
  margin: 0 45px;
  top: 700px;
  padding-bottom: 20px; }
  @media screen and (max-width: 767px) {
    .buttons {
      width: 90%;
      margin: 0 auto;
      padding: 0;
      padding-top: 20px; }
      .buttons .button-online {
        font-size: 150%;
        padding: 11px;
        text-align: center;
        position: relative;
        float: left;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 60%; }
      .buttons .button-dealer {
        font-size: 150%;
        padding: 10px;
        float: left;
        position: relative;
        text-align: center;
        width: 40%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; } }

.button-online {
  text-decoration: none;
  color: #fff;
  background-color: #b3aaaf;
  padding: 11px 16px;
  font-size: 90%; }
  .button-online:hover {
    background-color: #6d5b66;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }

.button-dealer {
  border: 1px solid #b3aaaf;
  text-decoration: none;
  color: #000;
  padding: 10px 11px;
  font-size: 90%; }
  .button-dealer:hover {
    color: white;
    background-color: #6d5b66;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }

.hamburger {
  display: none;
  position: absolute;
  right: 10px;
  top: 10px; }
  @media screen and (max-width: 767px) {
    .hamburger {
      display: inline-block; } }
  .hamburger-text {
    float: right; }
  .hamburger__power {
    float: left;
    background-color: #f9f9f8;
    color: #ccc;
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 28px;
    height: 28px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    border-radius: none;
    cursor: pointer;
    -webkit-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s; }
    .hamburger__power:focus {
      outline: none; }
    .hamburger__power-toggle {
      display: block;
      position: absolute;
      top: 13px;
      left: 2px;
      right: 2px;
      height: 2px;
      background: #978a92; }
      .hamburger__power-toggle::before, .hamburger__power-toggle::after {
        position: absolute;
        display: block;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #978a92;
        content: ""; }
      .hamburger__power-toggle::before {
        top: -6px; }
      .hamburger__power-toggle::after {
        bottom: -6px; }
    .hamburger__power-toggle {
      -webkit-transition: background 0s 0.3s;
      -o-transition: background 0s 0.3s;
      transition: background 0s 0.3s; }
      .hamburger__power-toggle::before, .hamburger__power-toggle::after {
        -webkit-transition-duration: 0.3s,0.3s;
        -o-transition-duration: 0.3s, 0.3s;
        transition-duration: 0.3s, 0.3s;
        -webkit-transition-delay: 0.3s, 0s;
        -o-transition-delay: 0.3s, 0s;
        transition-delay: 0.3s, 0s; }
      .hamburger__power-toggle::before {
        -webkit-transition-property: top,transform;
        -webkit-transition-property: top,-webkit-transform;
        transition-property: top,-webkit-transform;
        -o-transition-property: top,transform;
        transition-property: top,transform;
        transition-property: top,transform,-webkit-transform; }
      .hamburger__power-toggle::after {
        -webkit-transition-property: bottom, transform;
        -webkit-transition-property: bottom, -webkit-transform;
        transition-property: bottom, -webkit-transform;
        -o-transition-property: bottom, transform;
        transition-property: bottom, transform;
        transition-property: bottom, transform, -webkit-transform; }
    .hamburger__power.burger_active .hamburger__power-toggle {
      background: none; }
      .hamburger__power.burger_active .hamburger__power-toggle::before, .hamburger__power.burger_active .hamburger__power-toggle::after {
        background-color: #817179;
        -webkit-transition-delay: 0s, 0.3s;
        -o-transition-delay: 0s, 0.3s;
        transition-delay: 0s, 0.3s; }
      .hamburger__power.burger_active .hamburger__power-toggle::before {
        top: 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg); }
      .hamburger__power.burger_active .hamburger__power-toggle::after {
        bottom: 0;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg); }
