$hcontent-page: 700px;
$wpage-img : 410px;
$hpage-img : 480px;
$text-block: $W-CONTENT-PAGE - $wpage-img - 50px;
$size-text: (320px * 100%) / ($text-block);

@mixin vertical-center ($h:100%){
	text-align: center;
 
	&:before {
	  content: '';
	  display: inline-block;
	  height: $h;
	  vertical-align: middle;
	  width: 0;
	  //margin-right: -.35em;

	}  
}


.page{
	//float: left;
	//width: ($W-CONTENT-PAGE*101%/$W-FULL-PAGE);
	width: calc(100% - 270px);
	&:before {
		height: 0;
	}
	//height: 95vh;
	background-color: $BG-COLOR; 
	@include vertical-center;

	@include MOBILE(){
		width: 100%;
		//display: none;
		&_close {
			display: none;
			//font-size: 500%;
		}

		.page {
			
			 
			&__img {
				width: 100%;
				background-size: 90%;
				//height: 50%;
				top: 0;
				background-position: -4px 0px;
				height: 100%;
				position: absolute;
				opacity: .6;
			}

			&__content {
				width: 90%;
				margin: 115% auto 20% auto;
				left: 0;
			}

			&__title {
				margin-bottom: 7%;
			}
			&__text_left {
				float: none;
				display: block;
				margin: 0;
				padding: 0;
				width: 100%;
			}
			&__text_right {
				float: none;
				display: block;
				margin-top: 20px;
				margin-left: 0;
				width: 100%;
				padding: 0;
			}
		}
	}


	//
	&__img {
		//float:left;
		background: url($FIRST-BG-IMG);
		background-repeat: no-repeat;
		background-position: -15px;
		background-size: auto;
		
		width: $wpage-img;
		height: $hpage-img;
		// margin-left: -11px;
		position: absolute;
		
		top:25%;
		left:0;
		vertical-align: middle;
		display: inline-block;
		//overflow:hidden;
	}

	//
	&__title {
		@extend .CONTENT-TITLE;
		margin-top: 1px*100%/$hcontent-page;
		margin-bottom: 19px*100%/$hcontent-page;
		
		
	}
	//
	&__content {
		width: $text-block * 100% / $W-CONTENT-PAGE;
		text-align: left;
		left:15%;
		display: inline-block;
		vertical-align: middle;
	}
	//
	&__text {
		@extend .CONTENT-TEXT;
		margin-top: 5px;
	}

	//
	&__text_left {
		display: inline-block;
 		vertical-align: middle;
 		text-align: left;
		//float: left;
		//width: $size-text*100%/$W-CONTENT-PAGE;
		width: $size-text;
	}

	//
	&__text_right {
		display: inline-block;
 		vertical-align: middle;
 		text-align: left;
		//float: left;
		margin-left: 40px;
		//width: $size-text*100%/$W-CONTENT-PAGE;
		width: $size-text;
	}

	&__text_link {
		color: $LINK-COLOR;

		&:after {
			  content: '\2192';
			  display: inline-block;
			  margin-left: 5px;
 			  text-decoration: none;
		}
	}

}



