$FONTS-PATH: '../fonts/';
$FIRST-BG-IMG: '../img/firs-bg.png';

$FuturaNewBook-Reg: 'FuturaNewBook-Reg';
$FuturaNewLight-Reg: 'FuturaNewLight-Reg';
$FuturaNewDemi-Reg: 'FuturaNewDemi-Reg';

$MOBILE: 320px;
$TABLET_768: 768px;
$DESKTOP_1600: 1600px;


//SIZE
$W-FULL-PAGE: 1550px;
$W-CONTENT-PAGE: 1260px;


//COLOR
$BG-COLOR: #f9f9f8;
$LINK-COLOR: #6d5b66; //V VENE ->
$BG-TOP-MENU: #f2f1f1;
$BG-MENU: #f9f9f8;

$TEXT-COLOR: rgb(76,52,64);

// Z-INDEXES
$Z-MENU: 1000;
