$FONTS-PATH: '../fonts/';

$FuturaNewBook-Reg: 'FuturaNewBook-Reg';
$FuturaNewLight-Reg: 'FuturaNewLight-Reg';
$FuturaNewDemi-Reg: 'FuturaNewDemi-Reg';

$MOBILE: 320px;
$TABLET_768: 768px;
$DESKTOP_1600: 1600px;