body {
	margin: 0;
	padding: 25px;

	min-height: 100%;
	box-sizing: border-box;

	@include MOBILE() {
		padding: 10px;
	}
}

div {
	box-sizing: border-box;
	position: relative;
}


.clearfix {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

