/**
 * заголовок контента
 */
.CONTENT-TITLE {
  font-family: $FuturaNewLight-Reg;
  @include MOBILE() {
    font-size: 36px;
    line-height: 36px;
  }
  @include TABLET() {
    font-size: 36px;
    line-height: 40.5px;
  }
  @include DESKTOP() {
    font-size: 38.1pt;
    line-height: 61pt;
  }
}
/**
 * текст контента
 */
.CONTENT-TEXT {
  font-family: $FuturaNewLight-Reg;
  @include MOBILE() {
    font-size: 14px;
    line-height: 20.25px;
  }
  @include TABLET() {
    font-size: 14px;
    line-height: 20.25px;
  }
  @include DESKTOP() {
    font-size: 14pt;
    line-height: 20.55pt;
  }
}
/**
 * номер
 */
.NUMBER {
  font-family: $FuturaNewLight-Reg;
  @include MOBILE() {
    font-size: 24px;
    line-height: 20.25px;
  }
  @include TABLET() {
    font-size: 24px;
    line-height: 20.25px;
  }
  @include DESKTOP() {
    font-size: 24pt;
    line-height: 27pt;
  }
}
/**
 * элементы меню
 */
.MENU-ITEMS {
  font-family: $FuturaNewBook-Reg;
  @include MOBILE() {
    font-size: 15.75px;
    line-height: 18px;
  }
  @include TABLET() {
    font-size: 15.75px;
    line-height: 18px;
  }
  @include DESKTOP() {
    font-size: 16pt;
    line-height: 20pt;
  }
}
/**
 * активный элемент меню
 */
.MENU-ACTIVE-ITEM {
  font-family: $FuturaNewDemi-Reg;
  @include DESKTOP() {
    font-size: 16pt;
    line-height: 19pt;
  }
}
/**
 * Кнопки
 */
.BUTTONS-F {
  font-family: $FuturaNewLight-Reg;
  @include MOBILE() {
    font-size: 10.5px;
    line-height: 13.5px;
  }
  @include TABLET() {
    font-size: 10.5px;
    line-height: 13.5px;
  }
  @include DESKTOP() {
    font-size: 11.5pt;
    line-height: 18pt;
  }
}
/**
 * Текст скачать пдф
 */
.DOWNLOAD-PDF {
  font-family: $FuturaNewLight-Reg;
  @include MOBILE() {
    font-size: 10.5px;
    line-height: 20.25px;
  }
  @include TABLET() {
    font-size: 10.5px;
    line-height: 20.25px;
  }
  @include DESKTOP() {
    font-size: 14pt;
    line-height: 27pt;
  }
}
/**
 * ru
 */
.RU {
  font-family: $FuturaNewBook-Reg;
  @include MOBILE() {
    font-size: 12px;
    line-height: 13.5px;
  }
  @include TABLET() {
    font-size: 12px;
    line-height: 13.5px;
  }
  @include DESKTOP() {
    font-size: 11pt;
    line-height: 18pt;
  }
}
/**
 * Копирайт
 */
.COPYRIGHT {
  font-family: $FuturaNewLight-Reg;
  @include MOBILE() {
    font-size: 9px;
    line-height: 20.25px;
  }
  @include TABLET() {
    font-size: 9px;
    line-height: 20.25px;
  }
  @include DESKTOP() {
    font-size: 12pt;
    line-height: 27pt;
  }
}
/**
 * написание Меню
 */
.MENU {
  font-family: $FuturaNewBook-Reg;
  @include TABLET() {
    font-size: 12px;
    line-height: 13.5px;
  }
}