
$wmenu: $W-FULL-PAGE - $W-CONTENT-PAGE - 70px;

.menu {
	background-color: $BG-MENU; 
	// Modifiers
	//position: relative;
	height: 100%;
	position: absolute;
	width: $wmenu +55px;
	top: 0;
	right: 0;
	@include MOBILE() {
		width: 100%;
		.menu {
			position: relative;
			width: 0;
			&__top {
				background-color: inherit;
				width: 100%;
				top:10px;
				//margin: 0;
			}
			&__items {
				width: 90%;
				margin: 0 auto;

			}
			&__item {
				display: block;
				border:none;
				a {
					display: block;
					padding-top: 4vh;
				}
			}
			&__bottom {
				bottom: -80px;
				float:none;
				width: 0;
				padding-left: 0;
				padding-top: 0;
				height: 0;
			}
		}
	}

	// Elemets

	//
	&__top {
		background-color: $BG-TOP-MENU;
		//float:left;
		//overflow: visible;
		//height: 85%;
		position: relative;
		height: calc(100% - 135px);
		top:0px;
		width: $wmenu + 55px;

	}

	//

	//
	&__items {
		//float: left;
  		width: $wmenu 	+10px;
  		margin: 0px 0px 0px 45px;
  		padding: 4vh 0 3vh 0;
  		display: table;
	}
	//
	&__item {
		display: table-row;
  		width: 100%;
  		
  		border: 1px solid black;
  		box-sizing: border-box;
		a {
			text-decoration: none;
			text-align: left;
			@extend .MENU-ITEMS;
			color: #4c3440;
			width: 80%;
    		display: table-cell;
    		vertical-align: middle;
    		padding-top: 1.6vh;

    		&:hover {
    			color: rgba($TEXT-COLOR,0.6);
    			transition: 0.5s;
    		}
		
		}
		&:nth-child(7) {
			a {
				padding-top: 4.5vh;
			}
		}
	}


	&__item_delimeter {
		width: 0;
		&:before {
			border-bottom:1px solid rgba($TEXT-COLOR,.3);
			display: block;
			content: '';
			width: 60px;
			height: 50px;

		}
	}
	&__item_active {
		a {
			@extend .MENU-ACTIVE-ITEM;
			color: rgba($TEXT-COLOR,0.4);
			position:relative;
  	  		display: inline;
  	  		&:after{
    			content:"";
    			position:absolute;
    			left:0;
    			bottom:0;
    			width:100%;
    			height:1px;
    			border-bottom:10px solid rgba($TEXT-COLOR, .17);
  			}
		}


	}	
	&__bottom {
		position: relative;
		background-color: $BG-MENU;
  		bottom: 0px;
		float: left;
		width: $wmenu +55px ;
		padding-left: 50px;
		padding-top: 40px;
		height: (135px * 100%) / 1000px;
	}
}



.link_pdf {
	position: absolute;
	margin-left: -50px;
	width: 40px;
	height: 32px;
}

.link {
	@extend .DOWNLOAD-PDF;
	font-size: 90%;
	color: #000;
	text-decoration-style: dotted;
	text-decoration-color: rgba(0,0,0,.4);
	margin-left: 50px;
	padding-bottom: 5px;

	&:hover {
		text-decoration: none;
		transition: 0.5s;
	}
}

.copyright {
	font-size: 80%;
	padding: 0;
}